@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Ubuntu+Mono&family=Ubuntu:wght@300&display=swap');

.App {
  padding: 5px;
  color: #808080;
  font-size: 14px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  max-width: 1000px;
}

th {
  height: 50px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

tr:nth-child(even) {
  background-color: #FAFAFA;
}

.title {
  color: #000000;
  font-size: 14px;
}

.column_title {
  text-align: left;

}

table {
  border-spacing: 0;
  width: 100%;
}

tr {
  font-size: 12px;
  height: 46px;
}


.button_link>a {
  color: #7E7E7E;
  width: 60px;
  height: 20px;
  font-family: 'Ubuntu Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #7E7E7E;
  text-decoration: none;
  border-radius: 5px;
}

.button_link>a:hover {
  color: #000000;
}